@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply flex gap-1 items-center justify-center font-medium text-blackish-green rounded-button-radius whitespace-nowrap focus:outline-none transition-colors duration-300 ease-in-out disabled:text-text-disabled disabled:pointer-events-none;
	}

	.button-primary {
		@apply button bg-mint-green hover:bg-primary-hover focus:bg-primary-focus focus:outline-dashed focus:outline-primary-focus focus:outline-1 focus:outline-offset-2 active:bg-primary-active disabled:bg-primary-disabled;
	}

	.button-secondary {
		@apply button border border-mint-green bg-transparent hover:border-secondary-hover focus:border-secondary-focus focus:border-2 active:border-blackish-green disabled:border-secondary-disabled;
	}

	.button-tertiary {
		@apply bg-transparent border-0 hover:text-tertiary-hover focus:outline-tertiary-focus focus:outline-dotted focus:outline-2 active:text-tertiary-active;
	}

	.button-icon path {
		stroke: currentColor;
	}
}

@layer base {
	body {
		@apply font-primary text-blackish-green;
	}
}

/* Custom Slider */

.slider-container {
	@apply h-12 relative;
}

.slider {
	@apply relative w-full;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
	@apply absolute;
}

.slider__track,
.slider__range {
	@apply rounded h-1;
}

.slider__track {
	@apply bg-gray-300 w-full z-1;
}

.slider__range {
	@apply bg-blackish-green z-2;
}

.slider__left-value,
.slider__right-value {
	@apply  text-xs mt-5;
}


.slider__right-value {
	@apply right-0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.thumb {
	@apply absolute h-0 w-full outline-none pointer-events-none cursor-pointer;
}

.thumb--zindex-3 {
	z-index: 3;
}

.thumb--zindex-4 {
	z-index: 4;
}

.thumb--zindex-5 {
	z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
	@apply bg-mint-green border-none rounded-full h-4.5 w-4.5 mt-1 pointer-events-auto relative shadow-sliderShadow
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
	@apply bg-mint-green border-none rounded-full h-4.5 w-4.5 mt-1 pointer-events-auto relative shadow-sliderShadow
}
